@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background: #363B48;
    font-family: Montserrat;
    overflow:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h2 { 
  margin:150px auto 50px;
  text-align:center;
  font-size:18px;
  text-transform:uppercase;
  background:#2e333f;
  padding:25px;
  display:block;
  cursor:default;
  width:370px;
  color:#cacaca;
  border:1px solid rgba(173, 173, 173, 0.15);
}

.metro {
    width: 630px;
    margin: 0 auto 0;
}


.metro li {
    -webkit-transform: perspective(600px);
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin-x: 50%;
    -webkit-transform-origin-y: 50%;
    -ms-transform: perspective(600px);
    -ms-transform-style: preserve-3d;
    -ms-transform-origin-x: 50%;
    -ms-transform-origin-y: 50%;
    transform: perspective(600px);
    transform-style: preserve-3d;
    transform-origin-x: 50%;
    transform-origin-y: 50%;
    cursor: default;
    position: relative;
    text-align: center;
    margin: 0 10px 10px 0;
    width: 150px;
    height: 150px;
    color: #ffffff;
    float: left;
    -webkit-transition: .2s -webkit-transform, 1s opacity;
    -ms-transition: .2s -ms-transform, 1s opacity;
    transition: .2s transform, 1s opacity;
    cursor:pointer;
}

.metro li i {
    font-size: 54px;
    margin: 35px 0 0;
}

.metro li span {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 14px;
}

.metro li:first-child {
    background: #00b6de;
}

.metro li:nth-child(2) {
    background: #56dea7;
    width: 310px;
}

.metro li:nth-child(3) {
    background: #ff7659;
    margin: 0;
}

.metro li:nth-child(4) {
    background: #f8cd36;
}

.metro li:nth-child(5) {
    background: #f26175;
}

.metro li:nth-child(6) {
    background: #5ca7df;
}

.metro li:last-child {
    background: #9e7ac2;
    margin: 0;
}

.metro li:nth-child(5):active, .metro li:first-child:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.metro li:nth-child(7):active, .metro li:nth-child(2):active {
    -webkit-transform: perspective(600px) rotate3d(1, 0, 0, -10deg);
    -ms-transform: perspective(600px) rotate3d(1, 0, 0, -10deg);
    transform: perspective(600px) rotate3d(1, 0, 0, -10deg);
}

.metro li:nth-child(3):active {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, 10deg);
    -ms-transform: perspective(600px) rotate3d(0, 1, 0, 10deg);  
    transform: perspective(600px) rotate3d(0, 1, 0, 10deg); 
}

.metro li:nth-child(4):active {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, -10deg);
    -ms-transform: perspective(600px) rotate3d(0, 1, 0, -10deg);
    transform: perspective(600px) rotate3d(0, 1, 0, -10deg);
}

.metro li:nth-child(6):active {
    -webkit-transform: perspective(600px) rotate3d(1, 0, 0, 10deg);
    -ms-transform: perspective(600px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(600px) rotate3d(1, 0, 0, 10deg);
}

/* POPUP */

.box {
    display: table;
    top: 0;
    visibility: hidden;
    -webkit-transform: perspective(1200px) rotateY(180deg) scale(0.1);
    -ms-transform: perspective(1200px) rotateY(180deg) scale(0.1);
    transform: perspective(1200px) rotateY(180deg) scale(0.1);
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s all;
}

.box p {
    display: table-cell;
    vertical-align: middle;
    font-size: 64px;
    color: #ffffff;
    text-align: center;
    margin: 0;
    opacity: 0;
    transition: .2s;
    -webkit-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.box p i {
    font-size: 128px;
    margin:0 0 20px;
    display:block;
}

.box .close {
  display:block;
  cursor:pointer;
  border:3px solid rgba(255, 255, 255, 1);
  border-radius:50%;
  position:absolute;
  top:50px;
  right:50px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(45deg);
  -ms-transform:rotate(45deg)
  transform:rotate(45deg);
  transition: .2s;
  -webkit-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity:0;
}

.box .close:active {
    top:51px;
}

.box .close::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 80%;
  height: 6%;
  left: 10%;
  top: 47%;
}

.box .close::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 6%;
  height: 80%;
  left: 47%;
  top: 10%;
}

.box.open {
    left: 0;
    top: 0;
    visibility: visible;
    opacity: 1;
    z-index: 999;
    -webkit-transform: perspective(1200px) rotateY(0deg) scale(1);
    -ms-transform: perspective(1200px) rotateY(0deg) scale(1);
    transform: perspective(1200px) rotateY(0deg) scale(1);
    width: 100%;
    height: 100%;
}

.box.open .close, .box.open p {
    opacity: 1;
}

.nixcont{margin-left:  auto;
         margin-right: auto;   
         width: fit-content;
         overflow: hidden;}

.nixcont{position: absolute;
         top: 50%; left:50%;
         transform: translate(-50%,-50%);}


.nixpair{padding:0px 5px; float:left; height:100px;pointer-events:none;}

.nixbg{
font-family: 'Josefin Sans', sans-serif;
font-size:70px;

box-sizing:border-box;
position:relative;height:80px;line-height:80px; width:50px; float:left;
border-radius: 20px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;

padding-top:8px; margin:0px 5px;

box-shadow: 
inset 0px 1px 3px 2px rgba(90,  0,   0, 0.9),
inset 0px 2px 2px 3px rgba(230, 220, 0, 1),
inset 0px 4px 4px 3px rgba(255, 0,   0, 0.9);


background-image:url("http://www.jq22.com/tp/9fcf8fd2-fe09-45d2-873a-744b12b00065.png"), 
                 -webkit-linear-gradient(top, rgba(35, 20, 40,  0.7), 
                                              rgba(35, 20, 40,  0.5), 
                                              rgba(35, 20, 110, 0.7));

background-image:url("http://www.jq22.com/tp/9fcf8fd2-fe09-45d2-873a-744b12b00065.png"), 
                    -moz-linear-gradient(top, rgba(35, 20, 40,  0.7), 
                                              rgba(35, 20, 40,  0.5), 
                                              rgba(35, 20, 110, 0.7));

background-image:url("http://www.jq22.com/tp/9fcf8fd2-fe09-45d2-873a-744b12b00065.png"), 
                     -ms-linear-gradient(top, rgba(35, 20, 40,  0.7), 
                                              rgba(35, 20, 40,  0.5), 
                                              rgba(35, 20, 110, 0.7));

background-image:url("http://www.jq22.com/tp/9fcf8fd2-fe09-45d2-873a-744b12b00065.png"), 
                      -o-linear-gradient(top, rgba(35, 20, 40,  0.7), 
                                              rgba(35, 20, 40,  0.5), 
                                              rgba(35, 20, 110, 0.7));

background-image:url("http://www.jq22.com/tp/9fcf8fd2-fe09-45d2-873a-744b12b00065.png"), 
                         linear-gradient(top, rgba(35, 20, 40,  0.7), 
                                              rgba(35, 20, 40,  0.5), 
                                              rgba(35, 20, 110, 0.7));

background-repeat:repeat, no-repeat;
background-size:12px, 100%;
}

.nixbg:after{
content:'';
display:block;
position:absolute;top:100%; left:0; width:100%; height:20%; background-color:gray;
border-bottom-left-radius:35%;
border-bottom-right-radius:35%;

background-image:-webkit-radial-gradient(  40% 100% , #ea4 0%, #f93 15%, #caa 50%, #778 75%, #345 100%   );
background-image:   -moz-radial-gradient(  40% 100% , #ea4 0%, #f93 15%, #caa 50%, #778 75%, #345 100%   );
background-image:    -ms-radial-gradient(  40% 100% , #ea4 0%, #f93 15%, #caa 50%, #778 75%, #345 100%   );
background-image:     -o-radial-gradient(  40% 100% , #ea4 0%, #f93 15%, #caa 50%, #778 75%, #345 100%   );
background-image:        radial-gradient(  40% 100% , #ea4 0%, #f93 15%, #caa 50%, #778 75%, #345 100%   );
}

.nixbg .nix{
width:100%; text-align:center; position:absolute; 
color:rgba(60, 40, 20, 1  );
pointer-events:none;
transition:color 0.5s, text-shadow 0.5s;
transition-timing-function:ease-out;

}

.nixbg .nix_open{
transition:color 0.2s, text-shadow 0.2s;
transition-timing-function:ease-out;

color: transparent; 
text-shadow: 
0   0   1px  rgba(254, 252, 124, 1    ),
0   0   3px  rgba(255, 217, 54,  0.7  ),
0   0   5px  rgba(255, 0,   0,   1    ),
0   0   14px rgba(255, 0,   0,   1    ),
0   0   17px rgba(255, 0,   0,   1    ),
0   0   20px rgba(255, 0,   0,   1    ),
0   5px 25px rgba(0,   0,   255, 0.9  );

font-weight:300;
z-index:10;
}